<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcases.Admin_Interface"/>
      <class name="com.testcases.Dashboard"/>
      <class name="com.testcases.Reports"/>
       <class name="com.testcases.User_Interface"/>
    </classes>
  </test> 
</suite>
